
# Logs
output.xml
log.html
report.html
Py2Robot.spec

# files in cases_gen are created dynamically
cases_gen/

__pycache__/

bin/

.idea
.project
.pydevproject
.vscode
*.py[cod]


*.bak
*.log*
log/
=======
# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

